.home {
    /* background-image: url(../images/gradiente.png); */
    background-size: cover;
    background-position: 0% 0%;
}


.btn {
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 30px;
    width: 25%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    transition: var(--transition);
}

.btn:hover {
    transform: scale(1.1);
    transition: var(--transition);
}

.btn:hover .paragrafo{
    transform: scale(1.1);
    transition: 0.3s;
}

.paragrafo {
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 270px 0px;
}

.title-home {
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--black-color);
}

@media (max-width: 1810px) {
  .btn {
    font-size: 1.5rem;
  }
}

@media (max-width: 1540px) {
  .btn {
    font-size: 1.3rem;
  }
}

@media (max-width: 1390px) {
  .btn {
    width: 30%;
  }
}

@media (max-width: 1160px) {
  .btn {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .btn {
    width: 100%; /* Largura total em telas menores */
    font-size: 1.2rem; /* Fonte menor */
    padding: 15px; /* Padding reduzido */
  }
}

@media (max-width: 480px) {
  .btn {
    font-size: 1rem; /* Fonte ainda menor para telas muito pequenas */
    padding: 12px; /* Padding ainda mais reduzido */
  }
}